.headerSearchIcon {
  color: white;
}
.searchContainer {
  display: flex;
  justify-content: center;
}

#search-item {
  width: 270px;
}
#search-item::-webkit-input-placeholder,
#search-item::-moz-placeholder,
#search-item:-ms-input-placeholder,
#search-item:-moz-placeholder {
  font-size: 16px;
}

.headerSearchIcon {
  margin-right: 8px;
}
.logo-icon {
  width: 40px !important;
  height: 40px !important;
}

.loginBtn {
  height: 41px;
}

.accountIcon {
  width: 23px !important;
  height: 23px !important;
}
